@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

@import "tailwindcss";

@layer base {
  * {
    font-family: 'Manrope', 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bg {
  background: url('../assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body ::selection {
  background: #8b5cf6;
  color: #ffffff;
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.animate-fadeInUp {
  animation: fadeInUp .6s ease-out .1s;
}

@keyframes fadeInUpDelay {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  33% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.animate-fadeInUpDelay {
  animation: fadeInUpDelay .9s ease-out .1s;
}
